.mainWindow {
  position: absolute;
  top: 0%;
  width: 800px;
  height: 100%;
}
.bodytTroll {
  justify-content: center;
  justify-items: center;
  margin: auto;
  align-items: center;
  display: flex;
}
.coppy{
  position:absolute;
  top:760px;
  left:318px;
   font-size:13px;
}
